.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.title {
  font-weight: bold;
}

.roles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.option {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  cursor: pointer;
}
