.registerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CARD */
.registerCard {
    width: 50vw;
    padding: 30px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 0.5s ease;
}

.formGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.formFull {
    grid-column: 1 / -1;
}